.home-div{
    margin: 200px 100px 200px 100px;
}
.max-height {
    height: 100%;
    margin: 0;
}
.title{
    font-weight: 800;
    font-size: 4em;
    color: #8d4cee;
    margin: 0;
}
.home-button{
    background-color: #f03639 !important;
    border-radius:5em !important;
}
/* .grid-style{
padding:10em 15em 0 15em;
min-height: 700px;
border-style: solid;
border-color:black;
} */

.grif-header{
    background-color: #edf7ff;
}
